<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="res/css/styles.css">
</head>
<body> 
  <div class="navbar">
    <div class="dropdown">
      <a href="light.html" class="dropbtn"><span class="iconify" data-icon="carbon:light-filled" data-inline="false"></span>
      </a>
    </div> 
  </div>
  <div class="calc">
  <div class="keys">
    <input type="text" id="screen" maxlength="20" disabled="disabled"/>
      <button class="button">C</button>
      <button class="button basic-stuff">.</button>           
      <button class="button basic-stuff">(</button>
      <button class="button basic-stuff">)</button>      
      <button class="button basic-stuff">±</button>
      <button class="button">CE</button>
      <button class="button numbers">1</button>
      <button class="button numbers">2</button>
      <button class="button numbers">3</button>      
      <button class="button numbers">4</button>
      <button class="button numbers">5</button>
      <button class="button basic-stuff">+</button>
      <button class="button numbers">6</button>
      <button class="button numbers">7</button>
      <button class="button numbers">8</button>       
      <button class="button numbers">9</button>         
      <button class="button numbers">0</button>
      <button class="button basic-stuff">-</button>
      <button class="button complex-stuff">%</button>       
      <button class="button complex-stuff">x^</button>
      <button class="button complex-stuff">√</button>      
      <button class="button complex-stuff">x²</button>
      <button class="button complex-stuff">x!</button>                 
      <button class="button basic-stuff">*</button>
      <button class="button complex-stuff">sin</button>
      <button class="button complex-stuff">cos</button>        
      <button class="button complex-stuff">e</button>      
      <button class="button complex-stuff">log</button>        
      <button class="button complex-stuff">ln</button> 
      <button class="button basic-stuff">/</button>      
      <button class="button complex-stuff">tan</button>      
      <button class="button complex-stuff">∘</button>
      <button class="button complex-stuff">&#x003C0;</button>
      <button class="button complex-stuff">rad</button>
      <button class="button equal">=</button>
</div>      
</div>      
</body>
<script src="res/js/script.js"></script>
<script src="res/js/iconify.min.js"></script>
</html>